# Python virtual environments
venv/
env/
ENV/
waf_api/
waf_api/api/Lib/
waf_api/api/Include/
waf_api/api/Scripts/
waf_api/api/pyvenv.cfg

# Byte-compiled files
__pycache__/
*.py[cod]


# Logs and temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
